<nav class="navbar navbar-expand-lg navbar-dark flex-row justify-content-center bg-gray-dark text-white" 
    style="min-height:200px;">
    <div class="col-md-5">
        <h3> Shizen </h3>
        <p>
            Created with &hearts; by Ayush Anand, 2022-23. <br/>
            Thank you MLH for this amazing hackathon Hacky New Year 2023.
        </p>
    </div>

    <div class="col-md-5">
        <h3> Connect with me</h3>
        <p>
            <a href="https://linkedin.com/in/theayushanand" class="btn btn-primary">in</a>
            <a href="https://github.com/ayushanand18" class="btn btn-primary">gh</a>
        </p>
    </div>
</nav>